@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

/* remove scrollbar */

body {
  overflow: hidden;
  font-family: lato, sans-serif;
  font-weight: 300;
  color: #3a3a3a;
}

/* grid set up with 3 rows and 3 columns*/

.grid-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-areas:
    'header header header'
    'main-left main-center main-right'
    'footer footer footer';
  gap: 15px;
  background-color: goldenrod;
  padding: 5px;
  height: 100vh;
}

.grid-item-one {
  grid-area: header;
  background-color: blueviolet;
  height: 100px;  
}

.grid-item-two {
  grid-area: main-left;
  background-color: blanchedalmond;
}

.grid-item-three {
  grid-area: main-center;
  background-color: blue
}

.grid-item-four {
  grid-area: main-right;
  background-color: burlywood
}

.grid-item-five {
  grid-area: footer;
  background-color: brown
}

.active {
  border-bottom: 1px solid #3a3a3a;
  color: darkorange;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.body-text {
  display: flex;
  font-family: "Montserrat", sans-serif;
  align-items: center;
  justify-content: center;
  margin-top: 250px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: teal;
  font-family: "Montserrat", sans-serif;
}

.heading {
  color: white;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 120px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 30%;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: white;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
  padding: 8px 10px;
}

.nav-links a:hover:not(.active) {
  background-color: lightseagreen;
}

.nav-links li a.active {
  background-color: #4caf50;
}
